/* resources/css/livewire-tables.css */

.laravel-livewire-table {
    /* Custom styles for the table */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
}

.laravel-livewire-tables th {
    /* Custom styles for the table header */
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}



.laravel-livewire-tables td {
    /* Custom styles for the table cells */
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;

}


.laravel-livewire-tables-cursor{
    justify-content: center;
}

.table{
    --bs-table-bg: none;
}

[wire\:key="table-thead"],
[wire\:key="table-tbody"]
 {
    text-align: center;
}

[wire\:key="table-thead"]{
    background-color: #FFA500;
    color: #FFFFFF;
}

table.dataTable td{padding:15px 8px}

.actions-table{
    justify-content: space-evenly;
}

.btn-create,
.btn-create:hover,
.btn-create:focus,
.btn-create:active,
.btn-create.active,
.btn-create:visited,
.btn-create:disabled {
    background-color: #FFA500 !important;
    color: #FFFFFF !important;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.btn-primary:disabled {
    background-color: #FFA500 !important;
    color: #FFFFFF !important;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: none;
}

.select2-container{
    width: 100% !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color) ;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select2-container .select2-selection{
    border: var(--bs-border-width) solid var(--bs-border-color) ;
    border-radius: var(--bs-border-radius);
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #FFA500;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    background-color: #FFA500 !important;
    border-color: #FFA500 !important;
}

.page-link{
    color: #FFA500;
}

.print{
    font-size: small;
}